{% extends "network/layout.html" %}

<{% block body %}
  <div class="jumbotron">
    <h2>Login</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input id="username-field" autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input id="password-field" class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input id="submit-btn" class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}
